<ion-content class="login-content" padding>
  <div style="max-width: 500px; margin:0 auto; padding-top: 100px;">
    <ion-row class="logo-row">
      <ion-col style="text-align: center;">
        <img src="assets/img/digitalkasten-logo.svg" width="175" height="36">
      </ion-col>
    </ion-row>
    <div class="login-box">
      <form [formGroup]="form" (ngSubmit)="reset($event)" novalidate>
        <ion-row>
          <ion-col>
            <ion-list>
              <ion-item>
                <ion-label stacked>{{ 'login.password' | translate }}</ion-label>
                <ion-input type="password" formControlName="password" required></ion-input>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="signup-col">
            <button type="submit" ion-button full class="submit-btn" color="primary" [disabled]="form.dirty && !form.valid">
              {{ 'login.resetPassword' | translate }}
            </button>
          </ion-col>
        </ion-row>
      </form>
      <div style="padding: 5px;" *ngIf="errors.length">
        <ion-list>
          <ion-item color="danger" style="color: #fff;" *ngFor="let error of errors">
            {{ error }}
          </ion-item>
        </ion-list>
      </div>
    </div>
  </div>
</ion-content>
