<ion-content class="login-content" padding>
  <div style="max-width: 500px; margin:0 auto; padding-top: 100px;" *ngIf="!passwordSaved">
    <div padding>
      <h4>Save password</h4>
    </div>
    <div class="password-box">
      <form [formGroup]="passwordForm" (ngSubmit)="request($event)" novalidate>
        <ion-row>
          <ion-col>
            <ion-list inset>
              <ion-item>
                <ion-label floating>New Password</ion-label>
                <ion-input type="text" formControlName="password" type="password" required></ion-input>
              </ion-item>
              <ion-item>
                <ion-label floating>Repeat new Password</ion-label>
                <ion-input type="text" formControlName="repeatPassword" type="password" required></ion-input>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="signup-col">
            <button ion-button class="submit-btn" full color="primary">Save password</button>
          </ion-col>
        </ion-row>
      </form>
    </div>
  </div>
  <div style="max-width: 500px; margin:0 auto; padding-top: 100px;" *ngIf="passwordSaved">
    <div padding>
      <h4>Password has been saved</h4>
      <p>Your new password has been set. You can now log in with your credentials.</p>
      <button ion-button class="register-btn" full (click)="goToLogin()" color="primary">Go to Login</button>
    </div>
  </div>
</ion-content>
